# Virtual environments
.venv/
venv/
env/
.gaia_env/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Package/build files
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log