gradio
requests
langgraph
langchain
langchain-groq
langchain-core
langchain-tavily
wikipedia
wikipedia-api
arxiv
pymupdf
pdfplumber
pytesseract
pdf2image
pillow
langchain-google-genai
langchain-huggingface
openai-whisper
youtube-transcript-api
openpyxl
ddgs
tabulate
python-dotenv